extends layout

block content

  nav.navbar.navbar-default.navbar-static-top
    .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-target='#navbarCollapse', data-toggle='collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Chat Socket.io
      // Collection of nav links and other content for toggling
      #navbarCollapse.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | About 
              b.caret
            ul.dropdown-menu
              li
                a(href='#' data-toggle='modal' data-target='#modalAbout')
                  | About Chat Socket.io
              li
                a(href='https://github.com/mtimmermann/chat-socket-example') Source Code on GitHub
          //li.active
          //  a(href='#') Home
        //ul.nav.navbar-nav.navbar-right
        //  li
        //    a(href='#') Login

  div.container-fluid#main

    div.row.chat-box-row#chat-section

  div#modals-section

  script(src='/js/scripts.js')
  script(src='/js/templates/modals-section.js')
  script(src='/js/templates/chat-section.js')
