doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/dependencies/jquery.min.js')
    script(src='/js/dependencies/jquery-ui.min.js')
    script(src='/js/dependencies/jquery.slimscroll.min.js')
    script(src='/js/dependencies/jquery-timeago-min.js')
    script(src='/js/dependencies/bootstrap.min.js')
    script(src='/js/dependencies/pubsub-min.js')
    script(src='/js/dependencies/react.min.js')
    script(src='/js/dependencies/react-dom.min.js')
    script(src="/socket.io/socket.io.js")
  body
    block content
